{
  "swagger": "2.0",
  "info": {
    "title": "法人番号システム Web-API",
    "version": "1",
    "description": "法人番号システム Web‐API 機能は、利用者のシステムから抽出条件を指定してリクエストを送信し、送信された条件に合致する情報を法人番号公表機能で生成し、利用者側のシステムに応答（返却）するサービス（機能）です。",
    "termsOfService": "http://www.houjin-bangou.nta.go.jp/webapi/riyokiyaku.html",
    "contact": {
      "name": "国税庁長官官房企画課 法人番号管理室 Web-API連絡窓口",
      "url": "https://www.houjin-bangou.nta.go.jp/webapi/toiawase/"
    },
    "license": {
      "name": "利用規約",
      "url": "http://www.houjin-bangou.nta.go.jp/riyokiyaku/"
    },
    "x-logo": {
      "url": "http://www.houjin-bangou.nta.go.jp/common/images/head-logo.gif"
    },
    "x-origin": {
      "format": "swagger",
      "url": "http://www.houjin-bangou.nta.go.jp/documents/k-web-api-kinou.pdf",
      "version": "1.0"
    },
    "x-providerName": "www.nta.go.jp"
  },
  "host": "api.houjin-bangou.nta.go.jp",
  "basePath": "/1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/xml",
    "text/csv"
  ],
  "produces": [
    "application/xml",
    "text/csv"
  ],
  "paths": {
    "/num{}": {
      "get": {
        "tags": [
          "government",
          "government"
        ],
        "parameters": [
          {
            "name": "id",
            "description": "国税庁からお知らせするアプリケーション IDを指定します。",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "number",
            "description": "13 桁の法人番号を指定します。カンマ区切りで複数（最大 10 件）の法人番号を指定することができ ます。「3000012010001,1180301018771」とセットした場合、法人番号 3000012010001(内閣官房) 及 び1180301018771(トヨタ自動車株式会社) に該当する法人のデータが応答されます。",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          },
          {
            "name": "type",
            "description": "リクエストに対して応答するデータのファイル形式と文字コードを指定します。「01」とセットした場合、ファイル形式はCSV、文字コードは Shift‐JIS に縮退されたデータが応答されます。『01』…CSV 形式/ Shift‐JIS(JIS 第一及び第二水準)『02』…CSV 形式/ Unicode(JIS 第一水準から第四水準)『03』…XML 形式/Unicode(JIS 第一水準から第四水準)",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "01",
              "02",
              "12"
            ]
          },
          {
            "name": "history",
            "description": "公表情報の変更履歴を取得するかどうかを指定します。「1」とセットすると、新規に法人番号を公表した時点のデータから、リクエスト時点までの公表情報の変更履歴を、各１レコードの更新デー タとして応答します。例えば、１つの対象法人等について、公表開始後に２度の商号変更があった場合には、３レコード分 のデータが応答されます。指定しない場合は、「0」（変更履歴なし）として処理されます。『0』…変更履歴なし『1』…変更履歴あり",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "0",
              "1"
            ]
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/response200"
          }
        },
        "deprecated": false,
        "operationId": "getCorporationDetail",
        "summary": "法人番号API",
        "description": "このリクエストフォームは法人番号検索APIのバージョン１について記載されています。（平成２９年4月3日よりバージョン２がサービス開始されます）"
      }
    },
    "/test": {}
  },
  "definitions": {
    "CorporationDetail": {
      "type": "object",
      "properties": {
        "corporations": {
          "type": "object",
          "properties": {
            "lastUpdateDate": {
              "type": "string"
            },
            "count": {
              "type": "string"
            },
            "divideNumber": {
              "type": "string"
            },
            "divideSize": {
              "type": "string"
            },
            "corporation": {
              "type": "object",
              "properties": {
                "sequenceNumber": {
                  "type": "string"
                },
                "corporateNumber": {
                  "type": "string"
                },
                "process": {
                  "type": "string"
                },
                "correct": {
                  "type": "string"
                },
                "updateDate": {
                  "type": "string"
                },
                "changeDate": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "nameImageId": {
                  "type": "string"
                },
                "kind": {
                  "type": "string"
                },
                "prefectureName": {
                  "type": "string"
                },
                "cityName": {
                  "type": "string"
                },
                "streetNumber": {
                  "type": "string"
                },
                "addressImageId": {
                  "type": "string"
                },
                "prefectureCode": {
                  "type": "string"
                },
                "cityCode": {
                  "type": "string"
                },
                "postCode": {
                  "type": "string"
                },
                "addressOutside": {
                  "type": "string"
                },
                "addressOutsideImageId": {
                  "type": "string"
                },
                "closeDate": {
                  "type": "string"
                },
                "closeCause": {
                  "type": "string"
                },
                "successorCorporateNumber": {
                  "type": "string"
                },
                "changeCause": {
                  "type": "string"
                },
                "assignmentDate": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "example": "2020-06-29,3,1,1\r\n1,1180301018771,01,1,2018-04-23,2015-10-05,\"トヨタ自動車株式会社\",,301,\"愛知県\",\"豊田市\",\"トヨタ町１番地\",,23,211,4710826,,,,,,,2015-10-05,0,,,,,\"トヨタジドウシャ\",0\r\n2,1180301018771,71,1,2018-04-23,2018-04-02,\"トヨタ自動車株式会社\",,301,\"愛知県\",\"豊田市\",\"トヨタ町１番地\",,23,211,4710826,,,,,,\"平成３０年４月１日東京都文京区後楽一丁目４番１８号株式会社トヨタマーケティングジャパン（5010001127919）を合併\",2015-10-05,0,,,,,\"トヨタジドウシャ\",0\r\n3,1180301018771,71,0,2019-04-23,2019-04-10,\"トヨタ自動車株式会社\",,301,\"愛知県\",\"豊田市\",\"トヨタ町１番地\",,23,211,4710826,,,,,,\"平成３１年４月１日東京都港区赤坂六丁目６番２０号株式会社トヨタＩＴ開発センター（9010401052572）を合併\",2015-10-05,1,,,,,\"トヨタジドウシャ\",0"
    }
  },
  "responses": {
    "response200": {
      "description": "レスポンス詳細",
      "schema": {
        "$ref": "#/definitions/CorporationDetail"
      },
      "examples": {
        "application/json": "2020-06-29,3,1,1\r\n1,1180301018771,01,1,2018-04-23,2015-10-05,\"トヨタ自動車株式会社\",,301,\"愛知県\",\"豊田市\",\"トヨタ町１番地\",,23,211,4710826,,,,,,,2015-10-05,0,,,,,\"トヨタジドウシャ\",0\r\n2,1180301018771,71,1,2018-04-23,2018-04-02,\"トヨタ自動車株式会社\",,301,\"愛知県\",\"豊田市\",\"トヨタ町１番地\",,23,211,4710826,,,,,,\"平成３０年４月１日東京都文京区後楽一丁目４番１８号株式会社トヨタマーケティングジャパン（5010001127919）を合併\",2015-10-05,0,,,,,\"トヨタジドウシャ\",0\r\n3,1180301018771,71,0,2019-04-23,2019-04-10,\"トヨタ自動車株式会社\",,301,\"愛知県\",\"豊田市\",\"トヨタ町１番地\",,23,211,4710826,,,,,,\"平成３１年４月１日東京都港区赤坂六丁目６番２０号株式会社トヨタＩＴ開発センター（9010401052572）を合併\",2015-10-05,1,,,,,\"トヨタジドウシャ\",0"
      }
    }
  },
  "tags": [
    {
      "name": "japan corporation number"
    },
    {
      "name": "National Tax Agency"
    },
    {
      "name": "government"
    }
  ]
}