name: OpenAPI 3.1
version: 3.1
versions:
  - version: 3.1.0
    url: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.1.0.md
prefix: OpenApi31
namespace: io.apicurio.datamodels.models.openapi.v31

traits:
  - name: Extensible
    properties:
      - name: '/^x-.+$/'
        type: any
        collection: extensions
  - name: Referenceable
    properties:
      - name: '$ref'
        type: string
      - name: summary
        type: string
      - name: description
        type: string

entities:
  - name: Document
    root: true
    traits:
      - Extensible
    properties:
      - name: openapi
        type: string
      - name: jsonSchemaDialect
        type: string
      - name: info
        type: Info
      - name: servers
        type: '[Server]'
      - name: paths
        type: Paths
      - name: webhooks
        type: '{PathItem}'
      - name: components
        type: Components
      - name: security
        type: '[SecurityRequirement]'
      - name: tags
        type: '[Tag]'
      - name: externalDocs
        type: ExternalDocumentation
    propertyOrder:
      - $this
      - $Extensible

  - name: Info
    traits:
      - Extensible
    properties:
      - name: title
        type: string
      - name: summary
        type: string
      - name: description
        type: string
      - name: termsOfService
        type: string
      - name: contact
        type: Contact
      - name: license
        type: License
      - name: version
        type: string
    propertyOrder:
      - $this
      - $Extensible

  - name: Contact
    traits:
      - Extensible
    properties:
      - name: name
        type: string
      - name: url
        type: string
      - name: email
        type: string
    propertyOrder:
      - $this
      - $Extensible

  - name: License
    traits:
      - Extensible
    properties:
      - name: name
        type: string
      - name: identifier
        type: string
      - name: url
        type: string
    propertyOrder:
      - $this
      - $Extensible

  - name: Server
    traits:
      - Extensible
    properties:
      - name: url
        type: string
      - name: description
        type: string
      - name: variables
        type: '{ServerVariable}'
    propertyOrder:
      - $this
      - $Extensible

  - name: ServerVariable
    traits:
      - Extensible
    properties:
      - name: enum
        type: '[string]'
      - name: default
        type: string
      - name: description
        type: string
    propertyOrder:
      - $this
      - $Extensible

  - name: Components
    traits:
      - Extensible
    properties:
      - name: schemas
        type: '{Schema}'
      - name: responses
        type: '{Response}'
      - name: parameters
        type: '{Parameter}'
      - name: examples
        type: '{Example}'
      - name: requestBodies
        type: '{RequestBody}'
      - name: headers
        type: '{Header}'
      - name: securitySchemes
        type: '{SecurityScheme}'
      - name: links
        type: '{Link}'
      - name: callbacks
        type: '{Callback}'
      - name: pathItems
        type: '{PathItem}'
    propertyOrder:
      - $this
      - $Extensible

  - name: Paths
    traits:
      - Extensible
    properties:
      - name: '*'
        type: PathItem
    propertyOrder:
      - $Extensible
      - $this

  - name: PathItem
    traits:
      - Extensible
      - Referenceable
    properties:
      - name: get
        type: Operation
      - name: put
        type: Operation
      - name: post
        type: Operation
      - name: delete
        type: Operation
      - name: options
        type: Operation
      - name: head
        type: Operation
      - name: patch
        type: Operation
      - name: trace
        type: Operation
      - name: servers
        type: '[Server]'
      - name: parameters
        type: '[Parameter]'
    propertyOrder:
      - $Referenceable
      - $this
      - $Extensible

  - name: Operation
    traits:
      - Extensible
    properties:
      - name: tags
        type: '[string]'
      - name: summary
        type: string
      - name: description
        type: string
      - name: externalDocs
        type: ExternalDocumentation
      - name: operationId
        type: string
      - name: parameters
        type: '[Parameter]'
      - name: requestBody
        type: RequestBody
      - name: responses
        type: Responses
      - name: callbacks
        type: '{Callback}'
      - name: deprecated
        type: boolean
      - name: security
        type: '[SecurityRequirement]'
      - name: servers
        type: '[Server]'
    propertyOrder:
      - $this
      - $Extensible

  - name: ExternalDocumentation
    traits:
      - Extensible
    properties:
      - name: description
        type: string
      - name: url
        type: string
    propertyOrder:
      - $this
      - $Extensible

  - name: Parameter
    traits:
      - Extensible
      - Referenceable
    properties:
      - name: name
        type: string
      - name: in
        type: string
      - name: required
        type: boolean
      - name: deprecated
        type: boolean
      - name: allowEmptyValue
        type: boolean
      - name: style
        type: string
      - name: explode
        type: boolean
      - name: allowReserved
        type: boolean
      - name: schema
        type: Schema
      - name: example
        type: any
      - name: examples
        type: '{Example}'
    propertyOrder:
      - $Referenceable
      - $this
      - $Extensible

  - name: RequestBody
    traits:
      - Extensible
      - Referenceable
    properties:
      - name: content
        type: '{MediaType}'
      - name: required
        type: boolean
    propertyOrder:
      - $Referenceable
      - $this
      - $Extensible

  - name: MediaType
    traits:
      - Extensible
    properties:
      - name: schema
        type: Schema
      - name: example
        type: any
      - name: examples
        type: '{Example}'
      - name: encoding
        type: '{Encoding}'
    propertyOrder:
      - $this
      - $Extensible

  - name: Encoding
    traits:
      - Extensible
    properties:
      - name: contentType
        type: string
      - name: headers
        type: '{Header}'
      - name: style
        type: string
      - name: explode
        type: boolean
      - name: allowReserved
        type: boolean
    propertyOrder:
      - $this
      - $Extensible

  - name: Responses
    traits:
      - Extensible
      - Referenceable
    properties:
      - name: default
        type: Response
      - name: '*'
        type: Response
    propertyOrder:
      - $Referenceable
      - $this
      - $Extensible

  - name: Response
    traits:
      - Extensible
      - Referenceable
    properties:
      - name: headers
        type: '{Header}'
      - name: content
        type: '{MediaType}'
      - name: links
        type: '{Link}'
    propertyOrder:
      - $Referenceable
      - $this
      - $Extensible

  - name: Callback
    traits:
      - Extensible
      - Referenceable
    properties:
      - name: '*'
        type: PathItem
    propertyOrder:
      - $Referenceable
      - $this
      - $Extensible

  - name: Example
    traits:
      - Extensible
      - Referenceable
    properties:
      - name: value
        type: any
      - name: externalValue
        type: string
    propertyOrder:
      - $Referenceable
      - $this
      - $Extensible

  - name: Link
    traits:
      - Extensible
      - Referenceable
    properties:
      - name: operationRef
        type: string
      - name: operationId
        type: string
      - name: parameters
        type: '{any}' # TODO {any|expression}
      - name: requestBody
        type: any # TODO any|{expression}
      - name: server
        type: Server
    propertyOrder:
      - $Referenceable
      - $this
      - $Extensible

  - name: Header
    traits:
      - Referenceable
    properties:
      - name: required
        type: boolean
      - name: deprecated
        type: boolean
      - name: allowEmptyValue
        type: boolean
      - name: style
        type: string
      - name: explode
        type: boolean
      - name: allowReserved
        type: boolean
      - name: schema
        type: Schema
      - name: example
        type: any
      - name: examples
        type: '{Example}'
      - name: content
        type: '{MediaType}'
    propertyOrder:
      - $Referenceable
      - $this

  - name: Tag
    traits:
      - Extensible
    properties:
      - name: name
        type: string
      - name: description
        type: string
      - name: externalDocs
        type: ExternalDocumentation
    propertyOrder:
      - $this
      - $Extensible

  - name: Schema # NOTE: OpenAPI 3 now uses JSON Schema Draft 2020-12 for schemas
    traits:
      - Extensible
      - Referenceable
    properties:
      - name: '$ref'
        type: string
      - name: discriminator
        type: Discriminator
      - name: xml
        type: XML
      - name: externalDocs
        type: ExternalDocumentation
      - name: example
        type: any
    propertyOrder:
      - $Referenceable
      - $this
      - $Extensible

  - name: Discriminator
    properties:
      - name: propertyName
        type: string
      - name: mapping
        type: '{string}'
    propertyOrder:
      - $this

  - name: XML
    traits:
      - Extensible
    properties:
      - name: name
        type: string
      - name: namespace
        type: string
      - name: prefix
        type: string
      - name: attribute
        type: boolean
      - name: wrapped
        type: boolean
    propertyOrder:
      - $this
      - $Extensible

  - name: SecurityScheme
    traits:
      - Extensible
      - Referenceable
    properties:
      - name: type
        type: string
      - name: name
        type: string
      - name: in
        type: string
      - name: scheme
        type: string
      - name: bearerFormat
        type: string
      - name: flows
        type: OAuthFlows
      - name: openIdConnectUrl
        type: string
    propertyOrder:
      - $Referenceable
      - $this
      - $Extensible

  - name: OAuthFlows
    traits:
      - Extensible
    properties:
      - name: implicit
        type: OAuthFlow
      - name: password
        type: OAuthFlow
      - name: clientCredentials
        type: OAuthFlow
      - name: authorizationCode
        type: OAuthFlow
    propertyOrder:
      - $this
      - $Extensible

  - name: OAuthFlow
    traits:
      - Extensible
    properties:
      - name: authorizationUrl
        type: string
      - name: tokenUrl
        type: string
      - name: refreshUrl
        type: string
      - name: scopes
        type: '{string}'
    propertyOrder:
      - $this
      - $Extensible

  - name: SecurityRequirement
    properties:
      - name: '*'
        type: '[string]'
    propertyOrder:
      - $this
